# Disable Directory listing
Options -Indexes

# Access denial for sensitive files
<Files ~ "\.(env|json|config.js|md|gitignore|gitattributes|lock)$">
    Order allow,deny
    Deny from all
</Files>

# Disable dir listing
IndexIgnore *